.target
.DS_Store
.checkstyle
.classpath
.project
*/target/*
*/target/**

*/project/*
*/project/**

.idea
.idea/libraries


.homeawayTest/.idea
.homeawayTest/project
.homeawayTest/target

.readfileTest/.idea
.readfileTest/project
.readfileTest/target

.RobotitoTest/.idea
.RobotitoTest/project
.RobotitoTest/target

.RomanNumbers/.idea
.RomanNumbers/project
.RomanNumbers/target

.SkyTobiasDeRose/.idea
.SkyTobiasDeRose/project
.SkyTobiasDeRose/target






